Xft.dpi:                    96
Xft.autohint:               false
Xft.hinting:                false
Xft.hintstyle:              hintslight
Xft.lcdfilter:              lcddefault
Xft.rgba:                   rgba

Xcursor*theme:              Oxygen_White

URxvt.fading:               15
URxvt.depth:                24
URxvt.geometry:             90x30
URxvt.urgentOnBell:         true
URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            4096
URxvt.internalBorder:       10
URxvt.lineSpace:            0
URxvt.transparent:          false
URxvt.iso14755:             false
URxvt.letterSpace:          -2
URxvt.borderLess:           false

! Fonts
URxvt.allow_bold:           false
URxvt.font:                 xft:Sauce Code Powerline:pixelsize=16:antialias=false

!Clipboard
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

! Scrollbar
URxvt.scrollStyle:          plain
URxvt.scrollBar:            false
URxvt*scrollTtyOutput:      false
URxvt*scrollBar_right:      true

! Perl extensions
URxvt.perl-ext-common:      default,matcher,clipboard
URxvt.url-launcher:         /usr/bin/chromium
URxvt.matcher.button:       1

! Tabs
URxvt.tabbed.autohide:      true
URxvt.tabbed.reopen-on-close: no
URxvt.tabbed.no-tabbedex-keys: true

! cursor
*.cursorBlink:              true
*.cursorUnderline:          false
*.pointerBlank:             true

! special
*.foreground:   #f2f3f2
*.background:   #1a1a20
*.cursorColor:  #f2f3f2

! black
*.color0:       #363740
*.color8:       #75747a

! red
*.color1:       #BF687F
*.color9:       #BF687F

! green
*.color2:       #9BB38F
*.color10:      #9BB38F

! yellow
*.color3:       #e5c196
*.color11:      #e5c196

! blue
*.color4:       #8294b4
*.color12:      #8294b4

! magenta
*.color5:       #E68A8B
*.color13:      #E68A8B

! cyan
*.color6:       #95B9BF
*.color14:      #95B9BF

! white
*.color7:       #f2f3f2
*.color15:      #f2f3f2
